header{
    background-color: crimson;
    margin: 0;
    padding: 16px;
}

nav{
    margin: 0;
    padding: 16px;
}

ul{
    margin: 0;
    padding: 16px;

}

.nadpis{
    background-color: aquamarine;

}